body
{
    margin: 0;
    padding: 0;
    background: #333;
}
.middle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bar
{
    width:6px;
    height: 60px;
    display: inline-block;
    background: white;
    animation: loading 1.5s ease-in-out infinite;
    transform-origin: bottom center;
    
}
.bar1
{
    animation-delay: 0.1s;
}
.bar2
{
    animation-delay: 0.2s;
}
.bar3
{
    animation-delay: 0.3s;
}
.bar4
{
    animation-delay: 0.4s;
}
.bar5
{
    animation-delay: 0.5s;
}
.bar6
{
    animation-delay: 0.6s;
}
.bar7
{
    animation-delay: 0.7s;
}
.bar8
{
    animation-delay: 0.8s;
}
@keyframes loading{
    0%
    {
      transform: scaleY(0.1);
      background: #fff;
    }
    50%{
      transform: scaleY(1);
      background: green;
    }
    100%{
          transform: scaleY(0.1);
          background: transparent;
    }
}