*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #71ccf8;
}
.clock
{
    width: 350px;
    height: 350px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: url(clock.png);
    border: 4px solid #71ccf8;
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock::before
{
    content: '';
    display: flex;
    position: absolute;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    z-index: 10000;
    
}
.clock .hour,
.clock .min,
.clock .sec
{
    position: absolute;
}
.clock .hour, .hr
{
    width: 160px;
    height: 160px;
}
.clock .min, .mn
{
    width: 190px;
    height: 190px;
}
.clock .sec, .sc
{
    width: 230px;
    height: 230px;
}
.hr,.mn,.sc
{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    position: absolute;
}
.hr::before
{
    content: '';
    display: flex;
    width: 8px;
    height: 80px;
    background: red;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn::before
{
    content: '';
    display: flex;
    width: 4px;
    height: 90px;
    background: white;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc::before
{
    content: '';
    display: flex;
    width: 2px;
    height: 120px;
    background: white;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}